body{
	width: 960px;
	background-image: url('../images/balkansOpaque.png');
}
img{
	margin: 50px 10px 10px 0px;
}
.remaining{
	padding-top: 20px;
	font-family: 'Libre Baskerville', serif;
	font-size: 20px;
	background-color: #A0CFCB;
}
.guess{
	padding-left: 10px;
	font-size: 16px;
}
.used{
	font-size: 20px;
	text-align: left;
}
.right{
	font-size: 20px;
	text-align: left;	
}
.txt-pad{
	padding-top: 5px;
}
.flag{
	width: 230px;
	height: 190px;
	margin:30px 0px 0px 0px;	
}
#flag{
}
#counter{
	font-size: 20px;
	text-align: left;
}
#stick {
}
.stick{
	width: 230px;
	height: 190px;
	margin:30px 0px 0px 0px;
}
#title{
	background-color: #A0CFCB;
	font-size: 45px;
	color: #941100;
	letter-spacing: 2px;
	font-family: 'Libre Baskerville', serif;
	font-weight: bold;
	padding: 10px 0px 10px 0px;
}
#main{
	height: 768px;
}
#left{
	background-color: #D6C5B5;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	height: 100%;
}
#right{
	background-color: #D6C5B5;
	padding: 5px 0px 0px 0px;
	margin: 0px 10px 10px 10px;
}
#left-top, #right-top{
	text-align: center;
	padding: 15px 0px 15px 0px;
}
#right-top{
	border-left-color: #941100;
	border-left-style: groove;
	border-left-size: 5px;
}
#input{
	padding: 0px 0px 0px 10px;
}
#usedLetters{
	font-family: 'Libre Baskerville', serif;
	font-size: 20px;
}
#goodletters{
	font-family: 'Libre Baskerville', serif;
	font-size: 20px;
}
label{
	margin: 5px 5px 0px 10px;
	font-size: 10px;
}

/*font-family: 'Gloria Hallelujah', cursive;
font-family: 'Proza Libre', sans-serif;*/


